@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111111;
}

.name-hover:hover .text-4xl {
  color: white;
}

.name-hover:hover span:not(.text-4xl) {
  color: rgb(7, 136, 255);
}
